In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 999)

In [2]:
# Importing the part df on local and full data on cloud
filename = '/Users/viswanathravindran/AVDatahack/ADClick/RawData/train.csv'
Traindf = pd.read_csv(filename)
#filename1 = '/Users/viswanathravindran/AVDatahack/ADClick/RawData/test.csv'
#Testdf = pd.read_csv(filename1, nrows = 2000000)
#Traindf = pd.read_csv('/advdata/train.csv')
#Testdf = pd.read_csv('/advdata/test.csv')

/Users/viswanathravindran/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Traindf.head()

,ID,Country,Carrier,TrafficType,ClickDate,Device,Browser,OS,RefererUrl,UserIp,ConversionStatus,ConversionDate,ConversionPayOut,publisherId,subPublisherId,advertiserCampaignId,Fraud
0,0,IN,2.0,M,2017-08-21 00:00:01,Google,chrome,Android,NaN,42.111.171.131,False,NaN,0.0,69,NaN,6555.0,0.0
1,1,TH,27.0,A,2017-08-21 00:00:01,Generic,46.0.2490.76,Android,NaN,1.46.235.65,False,NaN,0.0,646,NaN,7510.0,0.0
2,2,IN,4.0,M,2017-08-21 00:00:01,Samsung,chromium,Android,NaN,49.15.91.224,False,NaN,0.0,301,NaN,12696.0,0.0
3,3,PH,-1.0,A,2017-08-21 00:00:01,Generic,android_webkit,Android,NaN,115.42.126.86,False,NaN,0.0,242,NaN,735.0,0.0
4,4,MX,-1.0,NaN,2017-08-21 00:00:01,Generic,chrome,Android,NaN,187.161.11.97,False,NaN,0.0,1306,NaN,7802.0,0.0

In [4]:
print ('The shape of the Full training Data is: ', Traindf.shape)
print ('The shape of the Full Test Data is: ', Testdf.shape)
RegTraindf = Traindf[Traindf.ConversionStatus==True]
print ('The shape of the dataframe with only converted members is: ', RegTraindf.shape)
print ('The Percentage of conversion is: ', ((RegTraindf.shape[0] / Traindf.shape[0])*100))

The shape of the Full training Data is:  (63367217, 17)
The shape of the Full Test Data is:  (25548873, 14)
The shape of the dataframe with only converted members is:  (34524, 17)
The Percentage of conversion is:  0.054482430560269045

In [7]:
RegTraindf.shape

(34524, 17)

In [4]:
RegTraindf.to_csv('RegTraindf.csv')

In [8]:
del RegTraindf

In [6]:
# this indicates in the complete sample that we have taken there are Fraud variable set to 1.0
print ('Fraud Count in Train',Traindf.Fraud.value_counts())
print ('Fraud Count in Test',Testdf.Fraud.value_counts())

Fraud Count in Train 0.0    63366821
1.0         396
Name: Fraud, dtype: int64
Fraud Count in Test 0.0    25444662
1.0      104211
Name: Fraud, dtype: int64

In [4]:
# Convert the Fraud and Conversion Status to integer 
Traindf['Fraud'] = Traindf['Fraud'].astype(np.int)
Testdf['Fraud'] = Testdf['Fraud'].astype(np.int)
Traindf['ConversionStatus'] = Traindf['ConversionStatus'].astype(np.int)

In [8]:
# Checking for the ratio of missing value
Total = Traindf.isnull().sum().sort_values(ascending=False)[:30]
percent = ((Traindf.isnull().sum()/Traindf.isnull().count())*100).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :percent, 'Missing Total':Total})
missing_data.head(10)

                      Missing Ratio  Missing Total
ConversionDate            99.945518       63332693
subPublisherId            98.348556       62320743
RefererUrl                74.716878       47346006
TrafficType               14.978493        9491454
OS                         0.487481         308903
Browser                    0.430606         272863
Device                     0.209716         132891
Country                    0.064795          41059
advertiserCampaignId       0.000726            460
publisherId                0.000314            199

In [9]:
# Checking for the ratio of missing value
Total = Testdf.isnull().sum().sort_values(ascending=False)[:30]
percent = ((Testdf.isnull().sum()/Testdf.isnull().count())*100).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :percent, 'Missing Total':Total})
missing_data.head(10)

                      Missing Ratio  Missing Total
subPublisherId            97.288667       24856158
RefererUrl                63.835008       16309125
TrafficType               20.355023        5200479
OS                         0.521236         133170
Browser                    0.372200          95093
Device                     0.214311          54754
Country                    0.035375           9038
advertiserCampaignId       0.001558            398
publisherId                0.000595            152
Fraud                      0.000000              0

In [10]:
del Total, percent, missing_data

In [11]:
print (Traindf.TrafficType.value_counts(normalize=True).head())
print ('------------------------------------------------------')
print (Traindf.Browser.value_counts(normalize=True).head())
print ('------------------------------------------------------')
print (Traindf.OS.value_counts(normalize=True).head())
print ('------------------------------------------------------')
print (Traindf.Device.value_counts(normalize=True).head())
print ('------------------------------------------------------')
print (Traindf.Country.value_counts(normalize=True).head())
print ('------------------------------------------------------')
print (Traindf.UserIp.value_counts(normalize=True).head())

A    0.680448
M    0.319552
Name: TrafficType, dtype: float64
------------------------------------------------------
android_webkit    0.468677
chrome            0.411411
46.0.2490.76      0.066501
uc                0.025921
iphone            0.011110
Name: Browser, dtype: float64
------------------------------------------------------
Android             0.983829
iOS                 0.011286
Desktop             0.003755
Windows Phone OS    0.000779
Tizen               0.000174
Name: OS, dtype: float64
------------------------------------------------------
Generic     0.486809
Samsung     0.154218
Lenovo      0.036442
Micromax    0.036188
Alcatel     0.027993
Name: Device, dtype: float64
------------------------------------------------------
IN    0.311474
TH    0.099770
BD    0.095609
ID    0.084199
RU    0.036145
Name: Country, dtype: float64
------------------------------------------------------
112.215.36.142    0.000405
112.215.36.144    0.000402
112.215.36.145    0.000400
112.215.36.143    0.000396
203.82.85.33      0.000258
Name: UserIp, dtype: float64

In [12]:
print (Testdf.TrafficType.value_counts(normalize=True).head())
print ('------------------------------------------------------')
print (Testdf.Browser.value_counts(normalize=True).head())
print ('------------------------------------------------------')
print (Testdf.OS.value_counts(normalize=True).head())
print ('------------------------------------------------------')
print (Testdf.Device.value_counts(normalize=True).head())
print ('------------------------------------------------------')
print (Testdf.Country.value_counts(normalize=True).head())
print ('------------------------------------------------------')
print (Traindf.UserIp.value_counts(normalize=True).head())

A    0.677213
M    0.322787
Name: TrafficType, dtype: float64
------------------------------------------------------
android_webkit    0.459745
chrome            0.414337
46.0.2490.76      0.063891
uc                0.034135
iphone            0.012135
Name: Browser, dtype: float64
------------------------------------------------------
Android             0.983301
iOS                 0.012304
Desktop             0.003265
Windows Phone OS    0.000759
Tizen               0.000181
Name: OS, dtype: float64
------------------------------------------------------
Generic     0.485834
Samsung     0.149987
Alcatel     0.067560
Micromax    0.034369
Lenovo      0.027156
Name: Device, dtype: float64
------------------------------------------------------
IN    0.288274
ID    0.125484
BD    0.083680
RU    0.041530
TH    0.041285
Name: Country, dtype: float64
------------------------------------------------------
112.215.36.142    0.000405
112.215.36.144    0.000402
112.215.36.145    0.000400
112.215.36.143    0.000396
203.82.85.33      0.000258
Name: UserIp, dtype: float64

In [5]:
Traindf['TrafficType'] = Traindf['TrafficType'].fillna(pd.Series(np.random.choice(['A','M'], p=[0.60,0.40], size=len(Traindf))))
Traindf['Browser'] = Traindf['Browser'].fillna(pd.Series(np.random.choice(['android_webkit','chrome'], p=[0.60,0.40], size=len(Traindf))))
Traindf['Device'] = Traindf['Device'].fillna(pd.Series(np.random.choice(['Generic','Samsung','Alcatel','Micromax','Lenovo'], p=[0.50,0.20,0.10,0.10,0.10], size=len(Traindf))))
Traindf['Country'] = Traindf['Country'].fillna(pd.Series(np.random.choice(['IN','BD','RU','ID','NG'], p=[0.50,0.15,0.13,0.12,0.10], size=len(Traindf))))

In [6]:
Testdf['TrafficType'] = Testdf['TrafficType'].fillna(pd.Series(np.random.choice(['A','M'], p=[0.60,0.40], size=len(Traindf))))
Testdf['Browser'] = Testdf['Browser'].fillna(pd.Series(np.random.choice(['android_webkit','chrome'], p=[0.60,0.40], size=len(Traindf))))
Testdf['Device'] = Testdf['Device'].fillna(pd.Series(np.random.choice(['Generic','Samsung','Alcatel','Micromax','Lenovo'], p=[0.50,0.20,0.10,0.10,0.10], size=len(Traindf))))
Testdf['Country'] = Testdf['Country'].fillna(pd.Series(np.random.choice(['IN','BD','RU','ID','NG'], p=[0.50,0.15,0.13,0.12,0.10], size=len(Traindf))))

In [7]:
Traindf['advertiserCampaignId'] = Traindf.advertiserCampaignId.fillna(7510).astype(np.int)
Testdf['advertiserCampaignId'] = Testdf.advertiserCampaignId.fillna(7510).astype(np.int)

In [8]:
# Checking for the ratio of missing value
Total = Traindf.isnull().sum().sort_values(ascending=False)[:30]
percent = ((Traindf.isnull().sum()/Traindf.isnull().count())*100).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :percent, 'Missing Total':Total})
missing_data.head(10)

                  Missing Ratio  Missing Total
ConversionDate        99.945518       63332693
subPublisherId        98.348556       62320743
RefererUrl            74.716878       47346006
OS                     0.487481         308903
publisherId            0.000314            199
ConversionPayOut       0.000003              2
Device                 0.000000              0
Country                0.000000              0
Carrier                0.000000              0
TrafficType            0.000000              0

In [9]:
# Checking for the ratio of missing value
Total = Testdf.isnull().sum().sort_values(ascending=False)[:30]
percent = ((Testdf.isnull().sum()/Testdf.isnull().count())*100).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :percent, 'Missing Total':Total})
missing_data.head(10)

                      Missing Ratio  Missing Total
subPublisherId            97.288667       24856158
RefererUrl                63.835008       16309125
OS                         0.521236         133170
publisherId                0.000595            152
Fraud                      0.000000              0
advertiserCampaignId       0.000000              0
UserIp                     0.000000              0
Browser                    0.000000              0
Device                     0.000000              0
ClickDate                  0.000000              0

In [10]:
Testdf.UserIp.nunique()

6400075

In [12]:
# Combining the data only for the necessary fields
#STrain = Traindf[['Country','Carrier','Device','Browser','advertiserCampaignId','Fraud']]
#STest = Testdf[['Country','Carrier','Device','Browser','advertiserCampaignId','Fraud']]
Combdf = pd.concat([STrain,STest])
Combdf.shape

(88916090, 6)

In [13]:
#del STrain, STest
del Traindf, Testdf

In [14]:
Combdf.head()

  Country  Carrier   Device         Browser  advertiserCampaignId  Fraud
0      IN      2.0   Google          chrome                  6555      0
1      TH     27.0  Generic    46.0.2490.76                  7510      0
2      IN      4.0  Samsung        chromium                 12696      0
3      PH     -1.0  Generic  android_webkit                   735      0
4      MX     -1.0  Generic          chrome                  7802      0

In [19]:
# Country-232,Carrier-383,Device-1343,Browser-41,advertiserCampaignId-2132
Combdf.advertiserCampaignId.nunique()

2132

In [40]:
del Combdf['CntryCount'],Combdf['CarrCount'],Combdf['DevCount'],Combdf['CntryFrd'],Combdf['CarrFrd'],Combdf['DevFrd']

In [42]:
# Count the count of the variables which we should convert into their counts and run it one varaible at a time
#Combdf['CntryCount'] = Combdf.groupby('Country')['Country'].transform('count').astype(np.int)
#Combdf['CarrCount'] = Combdf.groupby('Carrier')['Carrier'].transform('count').astype(np.int)
#Combdf['DevCount'] = Combdf.groupby('Device')['Device'].transform('count').astype(np.int)
#Combdf['BrwCount'] = Combdf.groupby('Browser')['Browser'].transform('count').astype(np.int)
Combdf['AdvCount'] = Combdf.groupby('advertiserCampaignId')['advertiserCampaignId'].transform('count').astype(np.int)

In [44]:
# Count the count of the variables which we should convert into their counts and run it one varaible at a time
#Combdf['CntryFrd'] = Combdf.groupby('Country')['Fraud'].transform('sum').astype(np.int)
#Combdf['CarrFrd'] = Combdf.groupby('Carrier')['Fraud'].transform('sum').astype(np.int)
#Combdf['DevFrd'] = Combdf.groupby('Device')['Fraud'].transform('sum').astype(np.int)
#Combdf['BrwFrd'] = Combdf.groupby('Browser')['Fraud'].transform('sum').astype(np.int)
Combdf['AdvFrd'] = Combdf.groupby('advertiserCampaignId')['Fraud'].transform('sum').astype(np.int)

In [45]:
Combdf.head()

,Country,Carrier,Device,Browser,advertiserCampaignId,Fraud,BrwCount,AdvCount,BrwFrd,AdvFrd
0,IN,2.0,Google,chrome,6555,0,36650963,342922,48003,7
1,TH,27.0,Generic,46.0.2490.76,7510,0,5822097,6662847,7360,11386
2,IN,4.0,Samsung,chromium,12696,0,713676,101476,736,0
3,PH,-1.0,Generic,android_webkit,735,0,41494257,1904630,45188,772
4,MX,-1.0,Generic,chrome,7802,0,36650963,235984,48003,0

In [47]:
#Countrydf = Combdf[['Country','CntryCount','CntryFrd']]
#Carrierdf = Combdf[['Carrier','CarrCount','CarrFrd']]
#Devicedf = Combdf[['Device','DevCount','DevFrd']]
#Browserdf = Combdf[['Browser','BrwCount','BrwFrd']]
Advertiserdf = Combdf[['advertiserCampaignId','AdvCount','AdvFrd']]

In [48]:
#print (Countrydf.shape)
#print (Carrierdf.shape)
#print (Devicedf.shape)
print (Browserdf.shape)
print (Advertiserdf.shape)

(88916090, 3)
(88916090, 3)

In [50]:
#Countrydf = Countrydf.drop_duplicates()
#Carrierdf = Carrierdf.drop_duplicates()
#Devicedf = Devicedf.drop_duplicates()
#Browserdf = Browserdf.drop_duplicates()
Advertiserdf = Advertiserdf.drop_duplicates()

In [51]:
print (Countrydf.shape)
print (Carrierdf.shape)
print (Devicedf.shape)
print (Browserdf.shape)
print (Advertiserdf.shape)

(232, 3)
(383, 3)
(1343, 3)
(41, 3)
(2132, 3)

In [52]:
del Combdf

In [75]:
Countrydf.to_csv('Countrydf.csv', index= False)
Carrierdf.to_csv('Carrierdf.csv', index= False)
Devicedf.to_csv('Devicedf.csv', index= False)
Browserdf.to_csv('Browserdf.csv', index= False)
Advertiserdf.to_csv('Advertiserdf.csv', index= False)

After exporting the csv the following treatment were done:
1. Created a new commulative sum column for the Count of occurence column
2. Identifed the cummulative percentage of total
3. Created a new Primary Name column with only top 80% to 10% depending on the variable
4. Created a Fraud Bucket column (This saves lot of time by avoiding execution of Fraud/Count Category codes)

# Restart without the Count of variables

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.utils import resample
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 999)
random_state = 42

In [2]:
# Importing the part df on local and full data on cloud
#filename = '/Users/viswanathravindran/AVDatahack/ADClick/RawData/train.csv'
#Traindf = pd.read_csv(filename, nrows = 20000)
Traindf = pd.read_csv('/advdata/train.csv')

/usr/local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Traindf.head()

,ID,Country,Carrier,TrafficType,ClickDate,Device,Browser,OS,RefererUrl,UserIp,ConversionStatus,ConversionDate,ConversionPayOut,publisherId,subPublisherId,advertiserCampaignId,Fraud
0,0,IN,2.0,M,2017-08-21 00:00:01,Google,chrome,Android,NaN,42.111.171.131,False,NaN,0.0,69,NaN,6555.0,0.0
1,1,TH,27.0,A,2017-08-21 00:00:01,Generic,46.0.2490.76,Android,NaN,1.46.235.65,False,NaN,0.0,646,NaN,7510.0,0.0
2,2,IN,4.0,M,2017-08-21 00:00:01,Samsung,chromium,Android,NaN,49.15.91.224,False,NaN,0.0,301,NaN,12696.0,0.0
3,3,PH,-1.0,A,2017-08-21 00:00:01,Generic,android_webkit,Android,NaN,115.42.126.86,False,NaN,0.0,242,NaN,735.0,0.0
4,4,MX,-1.0,NaN,2017-08-21 00:00:01,Generic,chrome,Android,NaN,187.161.11.97,False,NaN,0.0,1306,NaN,7802.0,0.0

In [4]:
# Convert the Fraud and Conversion Status to integer 
Traindf['Fraud'] = Traindf['Fraud'].astype(np.int)
Traindf['ConversionStatus'] = Traindf['ConversionStatus'].astype(np.int)

In [5]:
del Traindf['subPublisherId']

In [6]:
Traindf.ConversionStatus.value_counts()

0    63332693
1       34524
Name: ConversionStatus, dtype: int64

In [7]:
# Separate majority and minority classes
TraindfMaj = Traindf[Traindf.ConversionStatus==0]
TraindfMin = Traindf[Traindf.ConversionStatus==1]
print ('Count of Minority sample', TraindfMin.shape, 'Count of Majority Sample', TraindfMaj.shape)

Count of Minority sample (34524, 16) Count of Majority Sample (63332693, 16)

In [8]:
del Traindf

In [9]:
print((34524/ (34524 + 5000000))*100)
print((500000/ (500000 + 5000000))*100)
print((1000000/ (1000000 + 5000000))*100)

0.6857450674582145
9.090909090909092
16.666666666666664

In [12]:
# Upsample minority class # sample with replacement, to match majority class
TraindfMinup1 = resample(TraindfMin, replace=True, n_samples=500000,random_state=random_state)
TraindfMinup2 = resample(TraindfMin, replace=True, n_samples=1000000,random_state=random_state)
# Downsample Majority class without replacement
TraindfMajdn = resample(TraindfMaj, replace=False, n_samples=5000000, random_state=random_state)

In [16]:
# Combine the datasets
#Traindf1 = pd.concat([TraindfMajdn, TraindfMin])
#Traindf2 = pd.concat([TraindfMajdn, TraindfMinup1])
#Traindf3 = pd.concat([TraindfMajdn, TraindfMinup2])
# Display new class counts

print ('------------------------------------------------------------------------------------------------')
print ('The Distribution of Conversionstatus Training set 1 is:',Traindf1.ConversionStatus.value_counts())
print ('The shape of Training set 1 is:',Traindf1.shape)
print ('------------------------------------------------------------------------------------------------')
print ('The Distribution of Conversionstatus Training set 2 is:',Traindf2.ConversionStatus.value_counts())
print ('The shape of Training set 2 is:',Traindf2.shape)
print ('------------------------------------------------------------------------------------------------')
print ('The Distribution of Conversionstatus Training set 3 is:',Traindf3.ConversionStatus.value_counts())
print ('The shape of Training set 3 is:',Traindf3.shape)

------------------------------------------------------------------------------------------------
The Distribution of Conversionstatus Training set 1 is: 0    5000000
1      34524
Name: ConversionStatus, dtype: int64
The shape of Training set 1 is: (5034524, 16)
------------------------------------------------------------------------------------------------
The Distribution of Conversionstatus Training set 2 is: 0    5000000
1     500000
Name: ConversionStatus, dtype: int64
The shape of Training set 2 is: (5500000, 16)
------------------------------------------------------------------------------------------------
The Distribution of Conversionstatus Training set 3 is: 0    5000000
1    1000000
Name: ConversionStatus, dtype: int64
The shape of Training set 3 is: (6000000, 16)

In [17]:
# delete the 2 temp DF's
del TraindfMaj,TraindfMin,TraindfMinup1,TraindfMinup2,TraindfMajdn

In [18]:
# Check to see if the sample is fine
#Traindf1.tail()
#Traindf1.Country.value_counts(normalize =  True, sort=True, ascending=False).head(5)
#Traindf1.TrafficType.value_counts(normalize =  True, sort=True, ascending=False).head()
#Traindf1.Device.value_counts(normalize =  True, sort=True, ascending=False).head()
Traindf1.ConversionStatus.value_counts()
Traindf2.ConversionStatus.value_counts()
Traindf3.ConversionStatus.value_counts()

0    5000000
1    1000000
Name: ConversionStatus, dtype: int64

In [19]:
print (Traindf1.shape)
print (Traindf2.shape)
print (Traindf3.shape)

(5034524, 16)
(5500000, 16)
(6000000, 16)

In [20]:
Traindf1.to_csv('MjdnSample.csv', index= False)
Traindf2.to_csv('MjdnmiupsSample.csv', index= False)
Traindf3.to_csv('MjdnmiupbSample.csv', index= False)

# Restart after sampling

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 999)

In [71]:
#Traindf1 = pd.read_csv('MjdnSample.csv')
#Traindf2 = pd.read_csv('MjdnmiupsSample.csv')
Traindf3 = pd.read_csv('MjdnmiupbSample.csv')

/usr/local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [72]:
#print(Traindf1.shape)
#print(Traindf2.shape)
print(Traindf3.shape)

(6000000, 16)

In [73]:
# Replace the Missing value based on analysis
Traindf3['Fraud'] = Traindf3['Fraud'].astype(np.int)
Traindf3['Device'] = Traindf3['Device'].astype(str)
Traindf3['ConversionStatus'] = Traindf3['ConversionStatus'].astype(np.int)
Traindf3['advertiserCampaignId'] = Traindf3.advertiserCampaignId.fillna(7510).astype(np.int)
Traindf3['RefererUrl'] = Traindf3.RefererUrl.fillna('NoRefer').astype(str)

In [74]:
Traindf3['TrafficType'] = Traindf3['TrafficType'].fillna(pd.Series(np.random.choice(['A','M'], p=[0.60,0.40], size=len(Traindf3))))
Traindf3['Browser'] = Traindf3['Browser'].fillna(pd.Series(np.random.choice(['android_webkit','chrome'], p=[0.60,0.40], size=len(Traindf3))))
Traindf3['OS'] = Traindf3['OS'].fillna(pd.Series(np.random.choice(['Android','Desktop','iOS'], p=[0.95,0.03,0.02], size=len(Traindf3))))
Traindf3['Device'] = Traindf3['Device'].fillna(pd.Series(np.random.choice(['Generic','Samsung','Alcatel','Micromax','Lenovo'], p=[0.50,0.20,0.10,0.10,0.10], size=len(Traindf3))))
Traindf3['Country'] = Traindf3['Country'].fillna(pd.Series(np.random.choice(['IN','BD','RU','ID','NG'], p=[0.50,0.15,0.13,0.12,0.10], size=len(Traindf3))))

In [75]:
# Checking for the ratio of missing value after replacement
Total = Traindf3.isnull().sum().sort_values(ascending=False)[:30]
percent = ((Traindf3.isnull().sum()/Traindf3.isnull().count())*100).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :percent, 'Missing Total':Total})
missing_data.head(10)

                      Missing Ratio  Missing Total
ConversionDate            83.333333        5000000
ConversionPayOut           0.001083             65
publisherId                0.000233             14
Fraud                      0.000000              0
advertiserCampaignId       0.000000              0
ConversionStatus           0.000000              0
UserIp                     0.000000              0
RefererUrl                 0.000000              0
OS                         0.000000              0
Browser                    0.000000              0

In [76]:
#Traindf['publisherId_New']=Traindf.publisherId.apply(lambda x: np.where(x.isdigit(),x,'99999')).astype(int)
del Traindf3['publisherId']

In [77]:
# Change the Referral URL as either Yes or No
Traindf3['RefererUrl'] = np.where(Traindf3['RefererUrl']=='NoRefer', 0, 1).astype(int)

In [78]:
# Handing the ClickDate field as a Date
Traindf3['ClickDate'] = pd.to_datetime(Traindf3['ClickDate'])

In [79]:
# Feature Enginerring to Create New variables for Day of Week and Day part
Traindf3['Weekday'] = (Traindf3['ClickDate'].dt.dayofweek).astype(int)
Traindf3['Dayhour'] = (Traindf3.ClickDate.apply(lambda x: x.hour)).astype(int)

In [80]:
# To remove Ordinality in both Weekday and DayHour variables convert into Categories
Traindf3['Weekday'] = Traindf3['Weekday'].map( {0: 'Sun', 1: 'Mon', 2: 'Tue', 3: 'Wed',
                                              4: 'Thr', 5: 'Fri', 6: 'Sat'} ).astype(str)
Traindf3['Dayhour'] = Traindf3['Dayhour'].map( {0: 'AM1', 1: 'AM1', 2: 'AM1', 3: 'AM2', 4: 'AM2', 5: 'AM2', 
                                              6: 'AM3', 7: 'AM3', 8: 'AM3', 9: 'AM4', 10: 'AM4', 11: 'AM4', 12: 'PM1', 
                                              13: 'PM1', 14: 'PM1', 15: 'PM2', 16: 'PM2', 17: 'PM2', 18: 'PM3', 
                                              19: 'PM3', 20: 'PM3', 21: 'PM4', 22: 'PM4', 23: 'PM4'} ).astype(str)
# Delete the Click Date varaible
del Traindf3['ClickDate']

In [81]:
Traindf3['DayPeriod'] = (Traindf3['Weekday'] + Traindf3['Dayhour']).astype(str)
del Traindf3['Weekday'], Traindf3['Dayhour']

In [82]:
Traindf3.head()

,ID,Country,Carrier,TrafficType,Device,Browser,OS,RefererUrl,UserIp,ConversionStatus,ConversionDate,ConversionPayOut,advertiserCampaignId,Fraud,DayPeriod
0,60317302,IN,4.0,A,Generic,android_webkit,Android,0,106.78.209.186,0,NaN,0.0,10128,0,TuePM1
1,57103822,ID,47.0,M,Asus,chrome,Android,0,120.188.39.3,0,NaN,0.0,735,0,MonPM4
2,30999692,BD,125.0,M,Generic,android_webkit,Android,0,202.134.13.136,0,NaN,0.0,4901,0,ThrPM1
3,59559116,IN,1.0,M,Generic,46.0.2490.76,Android,0,223.184.27.187,0,NaN,0.0,16407,0,TueAM4
4,17487057,TH,20.0,A,AIS,chrome,Android,0,182.232.30.98,0,NaN,0.0,7510,0,TuePM1

In [83]:
Traindf3.shape

(6000000, 15)

In [15]:
Countrydf = pd.read_csv('Countrydf.csv')
Carrierdf = pd.read_csv('Carrierdf.csv')
Devicedf = pd.read_csv('Devicedf.csv')
Browserdf = pd.read_csv('Browserdf.csv')
Advertiserdf = pd.read_csv('Advertiserdf.csv')

In [84]:
# Merge back the Columns to train and test
Traindf3 = pd.merge(Traindf3,Countrydf, how='left', left_on='Country', right_on='Country')
Traindf3.shape

(6000000, 17)

In [85]:
Traindf3 = pd.merge(Traindf3,Carrierdf, how='left', left_on='Carrier', right_on='Carrier')
Traindf3.shape

(6000000, 19)

In [86]:
Traindf3 = pd.merge(Traindf3,Devicedf, how='left', left_on='Device', right_on='Device')
Traindf3.shape

(6000000, 21)

In [87]:
Traindf3 = pd.merge(Traindf3,Browserdf, how='left', left_on='Browser', right_on='Browser')
Traindf3.shape

(6000000, 23)

In [88]:
Traindf3 = pd.merge(Traindf3,Advertiserdf, how='left', left_on='advertiserCampaignId', right_on='advertiserCampaignId')
Traindf3.shape

(6000000, 25)

In [89]:
Traindf3.head()

,ID,Country,Carrier,TrafficType,Device,Browser,OS,RefererUrl,UserIp,ConversionStatus,ConversionDate,ConversionPayOut,advertiserCampaignId,Fraud,DayPeriod,NEWCNTRY,FRDCLS,NEWCARR,CARRFRD,NEWDEV,DEVFRD,NEWBRWSR,BRWSRFRD,NEWADCM,ADFRD
0,60317302,IN,4,A,Generic,android_webkit,Android,0,106.78.209.186,0,NaN,0.0,10128,0,TuePM1,IN,CL7,CR5,H,Generic,VH,ANDWEB,H,ADCM14,H
1,57103822,ID,47,M,Asus,chrome,Android,0,120.188.39.3,0,NaN,0.0,735,0,MonPM4,ID,CL7,CR10,M,Asus,M,CHROME,H,ADCM12,M
2,30999692,BD,125,M,Generic,android_webkit,Android,0,202.134.13.136,0,NaN,0.0,4901,0,ThrPM1,BD,CL8,CR16,H,Generic,VH,ANDWEB,H,ADCM8,H
3,59559116,IN,1,M,Generic,46.0.2490.76,Android,0,223.184.27.187,0,NaN,0.0,16407,0,TueAM4,IN,CL7,CR2,M,Generic,VH,OTHBRW,L,ADCMOT,L
4,17487057,TH,20,A,AIS,chrome,Android,0,182.232.30.98,0,NaN,0.0,7510,0,TuePM1,TH,CL6,CR9,M,UnOthers,L,CHROME,H,ADCM1,VH

In [90]:
Traindf3['DEVFRD']=Traindf3.DEVFRD.fillna('L').astype(str)
Traindf3['NEWDEV']=Traindf3.NEWDEV.fillna('UnOthers').astype(str)

In [91]:
# Checking for the ratio of missing value after replacement
Total = Traindf3.isnull().sum().sort_values(ascending=False)[:30]
percent = ((Traindf3.isnull().sum()/Traindf3.isnull().count())*100).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :percent, 'Missing Total':Total})
missing_data.head()

                  Missing Ratio  Missing Total
ConversionDate        83.333333        5000000
ConversionPayOut       0.001083             65
ADFRD                  0.000000              0
Country                0.000000              0
Carrier                0.000000              0

In [25]:
#miss = Traindf1[Traindf1['DEVFRD'].isnull()]
#miss.head()
#del miss

In [92]:
# Creating a Category as Android Yes / No
Traindf3['AndroidOS'] = np.where(Traindf3['OS']=='Android', 'yes', 'no')
del Traindf3['OS']

In [93]:
# Convert the User Ip Address as Classes that they belong
Traindf3['FirstIP'] = Traindf3['UserIp'].str.split('.').str[0]
Traindf3['FirstIP'] = Traindf3['FirstIP'].astype(int)

def func1(row):
    if row['FirstIP'] <= 128:
        val = 'ClassA'
    elif row['FirstIP'] <= 191:
        val = 'ClassB'
    elif row['FirstIP'] <= 223:
        val = 'ClassC'
    elif row['FirstIP'] <= 239:
        val = 'ClassD'
    elif row['FirstIP'] <= 255:
        val = 'ClassE'
    else:
        val = 'NoClass'
    return val

Traindf3['IPClass'] = Traindf3.apply(func1, axis = 1).astype(str)
del Traindf3['FirstIP'], Traindf3['UserIp']

In [94]:
# Remove the Y's
All_y3 = Traindf3[['ID', 'ConversionStatus','ConversionDate','ConversionPayOut']]

In [95]:
# Removing the variables that are part of Y
del Traindf3['ConversionStatus'],Traindf3['ConversionDate'],Traindf3['ConversionPayOut']

In [96]:
# Remove unnecessary varaibles
del Traindf3['Country'],Traindf3['Carrier'],Traindf3['Device'],Traindf3['Browser'],Traindf3['advertiserCampaignId']

In [97]:
Traindf3.shape

(6000000, 17)

In [98]:
Traindf3.head()

,ID,TrafficType,RefererUrl,Fraud,DayPeriod,NEWCNTRY,FRDCLS,NEWCARR,CARRFRD,NEWDEV,DEVFRD,NEWBRWSR,BRWSRFRD,NEWADCM,ADFRD,AndroidOS,IPClass
0,60317302,A,0,0,TuePM1,IN,CL7,CR5,H,Generic,VH,ANDWEB,H,ADCM14,H,yes,ClassA
1,57103822,M,0,0,MonPM4,ID,CL7,CR10,M,Asus,M,CHROME,H,ADCM12,M,yes,ClassA
2,30999692,M,0,0,ThrPM1,BD,CL8,CR16,H,Generic,VH,ANDWEB,H,ADCM8,H,yes,ClassC
3,59559116,M,0,0,TueAM4,IN,CL7,CR2,M,Generic,VH,OTHBRW,L,ADCMOT,L,yes,ClassC
4,17487057,A,0,0,TuePM1,TH,CL6,CR9,M,UnOthers,L,CHROME,H,ADCM1,VH,yes,ClassB

In [99]:
Traindf3.columns = ['ID','TrafficType','RefererUrl','Fraud','DayPeriod','Country','CountryFrd','Carrier','CarrierFrd',
                    'Device','DeviceFrd','Browser','BrowserFrd','AdvCampaign','AdvCampaignFrd','AndroidOS','IPClass']

In [100]:
#Traindf1.to_csv('ClassifierTrain1.csv', index= False)
#Traindf2.to_csv('ClassifierTrain2.csv', index= False)
Traindf3.to_csv('ClassifierTrain3.csv', index= False)

In [101]:
#All_y1.to_csv('All_y1.csv', index=False)
#All_y2.to_csv('All_y2.csv', index=False)
All_y3.to_csv('All_y3.csv', index=False)

In [102]:
#print (Traindf1.shape, All_y1.shape)
#print (Traindf2.shape, All_y2.shape)
print (Traindf3.shape, All_y3.shape)

(6000000, 17) (6000000, 4)

In [103]:
#del Traindf1,All_y1
#del Traindf2,All_y2
del Traindf3,All_y3

# Convert the Test data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 999)

In [2]:
#filename = '/Users/viswanathravindran/AVDatahack/ADClick/RawData/test.csv'
#Testdf = pd.read_csv(filename, nrows=50000)
Testdf = pd.read_csv('/advdata/test.csv')

/usr/local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Testdf.shape

(25548873, 14)

In [4]:
Testdf.head()

,ID,Country,Carrier,TrafficType,ClickDate,Device,Browser,OS,RefererUrl,UserIp,publisherId,subPublisherId,advertiserCampaignId,Fraud
0,63367289,IN,5.0,NaN,2017-08-31 00:00:01,Generic,uc,Android,NaN,101.58.211.15,1479,NaN,16216.0,0.0
1,63367290,IN,2.0,M,2017-08-31 00:00:01,Datawind,chrome,Android,NaN,42.107.175.145,3734,NaN,1836.0,0.0
2,63367291,IN,1.0,A,2017-08-31 00:00:01,Panasonic,chrome,Android,synctraff.com,106.223.85.251,282,NaN,13431.0,0.0
3,63367292,BR,-1.0,M,2017-08-31 00:00:01,Generic,android_webkit,Android,NaN,177.35.22.162,1203,NaN,4787.0,0.0
4,63367293,IN,3.0,A,2017-08-31 00:00:01,Micromax,chrome,Android,NaN,101.210.255.232,597,NaN,9769.0,0.0

In [6]:
# Replace the Missing value based on analysis
Testdf['Fraud'] = Testdf['Fraud'].astype(np.int)
Testdf['Device'] = Testdf['Device'].astype(str)
Testdf['advertiserCampaignId'] = Testdf.advertiserCampaignId.fillna(7510).astype(np.int)
Testdf['RefererUrl'] = Testdf.RefererUrl.fillna('NoRefer').astype(str)

In [8]:
Testdf['TrafficType'] = Testdf['TrafficType'].fillna(pd.Series(np.random.choice(['A','M'], p=[0.60,0.40], size=len(Testdf))))
Testdf['Browser'] = Testdf['Browser'].fillna(pd.Series(np.random.choice(['android_webkit','chrome'], p=[0.60,0.40], size=len(Testdf))))
Testdf['OS'] = Testdf['OS'].fillna(pd.Series(np.random.choice(['Android','Desktop','iOS'], p=[0.95,0.03,0.02], size=len(Testdf))))
Testdf['Device'] = Testdf['Device'].fillna(pd.Series(np.random.choice(['Generic','Samsung','Alcatel','Micromax','Lenovo'], p=[0.50,0.20,0.10,0.10,0.10], size=len(Testdf))))
Testdf['Country'] = Testdf['Country'].fillna(pd.Series(np.random.choice(['IN','BD','RU','ID','NG'], p=[0.50,0.15,0.13,0.12,0.10], size=len(Testdf))))

In [9]:
# Checking for the ratio of missing value after replacement
Total = Testdf.isnull().sum().sort_values(ascending=False)[:30]
percent = ((Testdf.isnull().sum()/Testdf.isnull().count())*100).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :percent, 'Missing Total':Total})
missing_data.head(10)

                      Missing Ratio  Missing Total
subPublisherId            97.288667       24856158
publisherId                0.000595            152
Fraud                      0.000000              0
advertiserCampaignId       0.000000              0
UserIp                     0.000000              0
RefererUrl                 0.000000              0
OS                         0.000000              0
Browser                    0.000000              0
Device                     0.000000              0
ClickDate                  0.000000              0

In [10]:
del Testdf['publisherId']

In [11]:
# Change the Referral URL as either Yes or No
Testdf['RefererUrl'] = np.where(Testdf['RefererUrl']=='NoRefer', 0, 1).astype(int)

In [12]:
# Handing the ClickDate field as a Date
Testdf['ClickDate'] = pd.to_datetime(Testdf['ClickDate'])

In [13]:
# Feature Enginerring to Create New variables for Day of Week and Day part
Testdf['Weekday'] = (Testdf['ClickDate'].dt.dayofweek).astype(int)
Testdf['Dayhour'] = (Testdf.ClickDate.apply(lambda x: x.hour)).astype(int)

In [14]:
# To remove Ordinality in both Weekday and DayHour variables convert into Categories
Testdf['Weekday'] = Testdf['Weekday'].map( {0: 'Sun', 1: 'Mon', 2: 'Tue', 3: 'Wed',
                                              4: 'Thr', 5: 'Fri', 6: 'Sat'} ).astype(str)
Testdf['Dayhour'] = Testdf['Dayhour'].map( {0: 'AM1', 1: 'AM1', 2: 'AM1', 3: 'AM2', 4: 'AM2', 5: 'AM2', 
                                              6: 'AM3', 7: 'AM3', 8: 'AM3', 9: 'AM4', 10: 'AM4', 11: 'AM4', 12: 'PM1', 
                                              13: 'PM1', 14: 'PM1', 15: 'PM2', 16: 'PM2', 17: 'PM2', 18: 'PM3', 
                                              19: 'PM3', 20: 'PM3', 21: 'PM4', 22: 'PM4', 23: 'PM4'} ).astype(str)
# Delete the Click Date varaible
del Testdf['ClickDate']

In [15]:
Testdf['DayPeriod'] = (Testdf['Weekday'] + Testdf['Dayhour']).astype(str)
del Testdf['Weekday'], Testdf['Dayhour']

In [16]:
Countrydf = pd.read_csv('Countrydf.csv')
Carrierdf = pd.read_csv('Carrierdf.csv')
Devicedf = pd.read_csv('Devicedf.csv')
Browserdf = pd.read_csv('Browserdf.csv')
Advertiserdf = pd.read_csv('Advertiserdf.csv')

In [17]:
Testdf.head()

,ID,Country,Carrier,TrafficType,Device,Browser,OS,RefererUrl,UserIp,subPublisherId,advertiserCampaignId,Fraud,DayPeriod
0,63367289,IN,5.0,A,Generic,uc,Android,0,101.58.211.15,NaN,16216,0,WedAM1
1,63367290,IN,2.0,M,Datawind,chrome,Android,0,42.107.175.145,NaN,1836,0,WedAM1
2,63367291,IN,1.0,A,Panasonic,chrome,Android,1,106.223.85.251,NaN,13431,0,WedAM1
3,63367292,BR,-1.0,M,Generic,android_webkit,Android,0,177.35.22.162,NaN,4787,0,WedAM1
4,63367293,IN,3.0,A,Micromax,chrome,Android,0,101.210.255.232,NaN,9769,0,WedAM1

In [18]:
Testdf.shape

(25548873, 13)

In [19]:
# Merge back the Columns to train and test
Testdf = pd.merge(Testdf,Countrydf, how='left', left_on='Country', right_on='Country')
Testdf.shape

(25548873, 15)

In [20]:
Testdf = pd.merge(Testdf,Carrierdf, how='left', left_on='Carrier', right_on='Carrier')
Testdf.shape

(25548873, 17)

In [21]:
Testdf = pd.merge(Testdf,Devicedf, how='left', left_on='Device', right_on='Device')
Testdf.shape

(25548873, 19)

In [22]:
Testdf = pd.merge(Testdf,Browserdf, how='left', left_on='Browser', right_on='Browser')
Testdf.shape

(25548873, 21)

In [23]:
Testdf = pd.merge(Testdf,Advertiserdf, how='left', left_on='advertiserCampaignId', right_on='advertiserCampaignId')
Testdf.shape

(25548873, 23)

In [24]:
Testdf['DEVFRD']=Testdf.DEVFRD.fillna('L').astype(str)
Testdf['NEWDEV']=Testdf.NEWDEV.fillna('UnOthers').astype(str)

In [25]:
# Checking for the ratio of missing value after replacement
Total = Testdf.isnull().sum().sort_values(ascending=False)[:30]
percent = ((Testdf.isnull().sum()/Testdf.isnull().count())*100).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :percent, 'Missing Total':Total})
missing_data.head(10)

                      Missing Ratio  Missing Total
subPublisherId            97.288667       24856158
ADFRD                      0.000000              0
advertiserCampaignId       0.000000              0
Country                    0.000000              0
Carrier                    0.000000              0
TrafficType                0.000000              0
Device                     0.000000              0
Browser                    0.000000              0
OS                         0.000000              0
RefererUrl                 0.000000              0

In [22]:
#miss = Testdf[Traindf['PubCount'].isnull()]
#miss.shape

In [26]:
# Creating a Category as Android Yes / No
Testdf['AndroidOS'] = np.where(Testdf['OS']=='Android', 'yes', 'no')
del Testdf['OS']

In [27]:
# Convert the User Ip Address as Classes that they belong
t0 = time.time()
Testdf['FirstIP'] = Testdf['UserIp'].str.split('.').str[0]
Testdf['FirstIP'] = Testdf['FirstIP'].astype(int)

def func1(row):
    if row['FirstIP'] <= 128:
        val = 'ClassA'
    elif row['FirstIP'] <= 191:
        val = 'ClassB'
    elif row['FirstIP'] <= 223:
        val = 'ClassC'
    elif row['FirstIP'] <= 239:
        val = 'ClassD'
    elif row['FirstIP'] <= 255:
        val = 'ClassE'
    else:
        val = 'NoClass'
    return val

Testdf['IPClass'] = Testdf.apply(func1, axis = 1).astype(str)

t1 = time.time()
print ('Time taken is :',t1 - t0)
del Testdf['FirstIP'], Testdf['UserIp']

Time taken is : 589.1553823947906

In [31]:
# Remove unnecessary varaibles
#del Testdf['Country'],Testdf['Carrier'],Testdf['Device'],Testdf['Browser'],Testdf['advertiserCampaignId']
del Testdf['subPublisherId']

In [32]:
Testdf.shape

(25548873, 17)

In [36]:
Testdf.head()

,ID,TrafficType,RefererUrl,Fraud,DayPeriod,Country,CountryFrd,Carrier,CarrierFrd,Device,DeviceFrd,Browser,BrowserFrd,AdvCampaign,AdvCampaignFrd,AndroidOS,IPClass
0,63367289,A,0,0,WedAM1,IN,CL7,UNC,L,Generic,VH,OTHBRW,L,ADCMOT,L,yes,ClassA
1,63367290,M,0,0,WedAM1,IN,CL7,CR4,H,UnOthers,L,CHROME,H,ADCMOT,L,yes,ClassA
2,63367291,A,1,0,WedAM1,IN,CL7,CR2,M,UnOthers,L,CHROME,H,ADCMOT,L,yes,ClassA
3,63367292,M,0,0,WedAM1,BR,CL5,CR1,VH,Generic,VH,ANDWEB,H,ADCM38,L,yes,ClassB
4,63367293,A,0,0,WedAM1,IN,CL7,CR13,H,Micromax,H,CHROME,H,ADCMOT,L,yes,ClassA

In [35]:
Testdf.columns = ['ID','TrafficType','RefererUrl','Fraud','DayPeriod','Country','CountryFrd','Carrier','CarrierFrd',
                    'Device','DeviceFrd','Browser','BrowserFrd','AdvCampaign','AdvCampaignFrd','AndroidOS','IPClass']

In [37]:
import sys
Testdf.memory_usage(index=True).sum()

3679037712

In [38]:
# Checking for the missing value details after the replacement
# Checking for the ratio of missing value
Testdf_na = (Testdf.isnull().sum() / len(Testdf)) * 100
Testdf_na = Testdf_na.drop(Testdf_na[Testdf_na == 0].index).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :Testdf_na})
missing_data.head(10)

Empty DataFrame
Columns: [Missing Ratio]
Index: []

In [39]:
t0 = time.time()
Testdf.to_csv('Finaltest.csv', index=False)
t1 = time.time()
print ('Time taken is :',t1 - t0)

Time taken is : 134.3782036304474

# Treat Data for the Regression Train data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import sys
pd.set_option('display.max_columns', 99)

In [6]:
filename = '/Users/viswanathravindran/AVDatahack/ADClick/RawData/train.csv'
Traindf = pd.read_csv(filename)

/Users/viswanathravindran/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
RegTraindf = Traindf[Traindf.ConversionStatus==True]
del Traindf

In [27]:
RegTraindf.to_csv('PreRegTrain.csv', index=False)

In [4]:
RegTraindf = pd.read_csv('PreRegTrain.csv')

In [5]:
RegTraindf.head()

,ID,Country,Carrier,TrafficType,ClickDate,Device,Browser,OS,RefererUrl,UserIp,ConversionStatus,ConversionDate,ConversionPayOut,publisherId,subPublisherId,advertiserCampaignId,Fraud
0,1378,BD,-1.0,A,2017-08-21 00:00:15,Generic,46.0.2490.76,Android,NoRefer,123.108.246.34,1,2017-08-21 20:40:00,4.550000,520.0,NaN,4904,0
1,1720,BD,44.0,A,2017-08-21 00:00:19,Samsung,chrome,Android,NoRefer,119.30.32.128,1,2017-08-21 00:00:00,2.652650,274.0,NaN,4129,0
2,3698,RU,703.0,A,2017-08-21 00:00:41,Alcatel,chrome,Android,NoRefer,83.149.46.223,1,2017-08-21 02:22:00,25.493000,301.0,NaN,11829,0
3,4050,BD,44.0,A,2017-08-21 00:00:45,Generic,android_webkit,Android,rocktraff.com,119.30.47.26,1,2017-08-21 01:07:00,1.123456,6240.0,NaN,3312,0
4,8667,IN,1.0,A,2017-08-21 00:01:37,Intex,chrome,Android,NoRefer,223.182.190.14,1,2017-08-21 00:35:00,65.000000,209.0,NaN,16060,0

In [6]:
print (RegTraindf.shape)

(34524, 17)

In [7]:
# Regularizs the values
RegTraindf['Fraud'] = RegTraindf['Fraud'].astype(np.int)
RegTraindf['ConversionStatus'] = RegTraindf['ConversionStatus'].astype(np.int)
RegTraindf['Device'] = RegTraindf['Device'].astype(str)
RegTraindf['advertiserCampaignId'] = RegTraindf.advertiserCampaignId.fillna(7510).astype(np.int)
RegTraindf['RefererUrl'] = RegTraindf.RefererUrl.fillna('NoRefer').astype(str)

In [8]:
# fill the missing values
RegTraindf['TrafficType'] = RegTraindf['TrafficType'].fillna(pd.Series(np.random.choice(['A','M'], p=[0.60,0.40], size=len(RegTraindf))))
RegTraindf['Browser'] = RegTraindf['Browser'].fillna(pd.Series(np.random.choice(['android_webkit','chrome'], p=[0.60,0.40], size=len(RegTraindf))))
RegTraindf['OS'] = RegTraindf['OS'].fillna(pd.Series(np.random.choice(['Android','Desktop','iOS'], p=[0.95,0.03,0.02], size=len(RegTraindf))))
RegTraindf['Device'] = RegTraindf['Device'].fillna(pd.Series(np.random.choice(['Generic','Samsung','Alcatel','Micromax','Lenovo'], p=[0.50,0.20,0.10,0.10,0.10], size=len(RegTraindf))))
RegTraindf['Country'] = RegTraindf['Country'].fillna(pd.Series(np.random.choice(['IN','BD','RU','ID','NG'], p=[0.50,0.15,0.13,0.12,0.10], size=len(RegTraindf))))
RegTraindf['ConversionPayOut'] = RegTraindf.ConversionPayOut.fillna(0)

In [9]:
# Checking for the ratio of missing value after replacement
Total = RegTraindf.isnull().sum().sort_values(ascending=False)[:30]
percent = ((RegTraindf.isnull().sum()/RegTraindf.isnull().count())*100).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :percent, 'Missing Total':Total})
missing_data.head(5)

                Missing Ratio  Missing Total
subPublisherId      98.331595          33948
Fraud                0.000000              0
OS                   0.000000              0
Country              0.000000              0
Carrier              0.000000              0

In [10]:
del RegTraindf['publisherId']

In [11]:
# Change the Referral URL as either Yes or No
RegTraindf['RefererUrl'] = np.where(RegTraindf['RefererUrl']=='NoRefer', 0, 1).astype(int)

In [12]:
# Handing the ClickDate field as a Date
RegTraindf['ClickDate'] = pd.to_datetime(RegTraindf['ClickDate'])

In [13]:
# Feature Enginerring to Create New variables for Day of Week and Day part
RegTraindf['Weekday'] = (RegTraindf['ClickDate'].dt.dayofweek).astype(int)
RegTraindf['Dayhour'] = (RegTraindf.ClickDate.apply(lambda x: x.hour)).astype(int)

In [14]:
# To remove Ordinality in both Weekday and DayHour variables convert into Categories
RegTraindf['Weekday'] = RegTraindf['Weekday'].map( {0: 'Sun', 1: 'Mon', 2: 'Tue', 3: 'Wed',
                                              4: 'Thr', 5: 'Fri', 6: 'Sat'} ).astype(str)
RegTraindf['Dayhour'] = RegTraindf['Dayhour'].map( {0: 'AM1', 1: 'AM1', 2: 'AM1', 3: 'AM2', 4: 'AM2', 5: 'AM2', 
                                              6: 'AM3', 7: 'AM3', 8: 'AM3', 9: 'AM4', 10: 'AM4', 11: 'AM4', 12: 'PM1', 
                                              13: 'PM1', 14: 'PM1', 15: 'PM2', 16: 'PM2', 17: 'PM2', 18: 'PM3', 
                                              19: 'PM3', 20: 'PM3', 21: 'PM4', 22: 'PM4', 23: 'PM4'} ).astype(str)
# Delete the Click Date varaible
del RegTraindf['ClickDate']

In [15]:
RegTraindf['DayPeriod'] = (RegTraindf['Weekday'] + RegTraindf['Dayhour']).astype(str)
del RegTraindf['Weekday'], RegTraindf['Dayhour']

In [16]:
Countrydf = pd.read_csv('Countrydf.csv')
Carrierdf = pd.read_csv('Carrierdf.csv')
Devicedf = pd.read_csv('Devicedf.csv')
Browserdf = pd.read_csv('Browserdf.csv')
Advertiserdf = pd.read_csv('Advertiserdf.csv')

In [17]:
RegTraindf.head()

,ID,Country,Carrier,TrafficType,Device,Browser,OS,RefererUrl,UserIp,ConversionStatus,ConversionDate,ConversionPayOut,subPublisherId,advertiserCampaignId,Fraud,DayPeriod
0,1378,BD,-1.0,A,Generic,46.0.2490.76,Android,0,123.108.246.34,1,2017-08-21 20:40:00,4.550000,NaN,4904,0,SunAM1
1,1720,BD,44.0,A,Samsung,chrome,Android,0,119.30.32.128,1,2017-08-21 00:00:00,2.652650,NaN,4129,0,SunAM1
2,3698,RU,703.0,A,Alcatel,chrome,Android,0,83.149.46.223,1,2017-08-21 02:22:00,25.493000,NaN,11829,0,SunAM1
3,4050,BD,44.0,A,Generic,android_webkit,Android,1,119.30.47.26,1,2017-08-21 01:07:00,1.123456,NaN,3312,0,SunAM1
4,8667,IN,1.0,A,Intex,chrome,Android,0,223.182.190.14,1,2017-08-21 00:35:00,65.000000,NaN,16060,0,SunAM1

In [18]:
RegTraindf.shape

(34524, 16)

In [19]:
# Merge back the Columns to train and test
RegTraindf = pd.merge(RegTraindf,Countrydf, how='left', left_on='Country', right_on='Country')
RegTraindf.shape

(34524, 18)

In [20]:
RegTraindf = pd.merge(RegTraindf,Carrierdf, how='left', left_on='Carrier', right_on='Carrier')
RegTraindf.shape

(34524, 20)

In [21]:
RegTraindf = pd.merge(RegTraindf,Devicedf, how='left', left_on='Device', right_on='Device')
RegTraindf.shape

(34524, 22)

In [22]:
RegTraindf = pd.merge(RegTraindf,Browserdf, how='left', left_on='Browser', right_on='Browser')
RegTraindf.shape

(34524, 24)

In [23]:
RegTraindf = pd.merge(RegTraindf,Advertiserdf, how='left', left_on='advertiserCampaignId', right_on='advertiserCampaignId')
RegTraindf.shape

(34524, 26)

In [24]:
RegTraindf['DEVFRD']=RegTraindf.DEVFRD.fillna('L').astype(str)
RegTraindf['NEWDEV']=RegTraindf.NEWDEV.fillna('UnOthers').astype(str)

In [26]:
# Checking for the ratio of missing value after replacement
Total = RegTraindf.isnull().sum().sort_values(ascending=False)[:30]
percent = ((RegTraindf.isnull().sum()/RegTraindf.isnull().count())*100).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :percent, 'Missing Total':Total})
missing_data.head()

                Missing Ratio  Missing Total
subPublisherId      98.331595          33948
NEWADCM              0.000000              0
Country              0.000000              0
Carrier              0.000000              0
TrafficType          0.000000              0

In [27]:
#miss = RegTraindf[Traindf['PubCount'].isnull()]
#miss.shape

In [28]:
# Creating a Category as Android Yes / No
RegTraindf['AndroidOS'] = np.where(RegTraindf['OS']=='Android', 'yes', 'no')
del RegTraindf['OS']

In [29]:
# Convert the User Ip Address as Classes that they belong
t0 = time.time()
RegTraindf['FirstIP'] = RegTraindf['UserIp'].str.split('.').str[0]
RegTraindf['FirstIP'] = RegTraindf['FirstIP'].astype(int)

def func1(row):
    if row['FirstIP'] <= 128:
        val = 'ClassA'
    elif row['FirstIP'] <= 191:
        val = 'ClassB'
    elif row['FirstIP'] <= 223:
        val = 'ClassC'
    elif row['FirstIP'] <= 239:
        val = 'ClassD'
    elif row['FirstIP'] <= 255:
        val = 'ClassE'
    else:
        val = 'NoClass'
    return val

RegTraindf['IPClass'] = RegTraindf.apply(func1, axis = 1).astype(str)

t1 = time.time()
print ('Time taken is :',t1 - t0)
del RegTraindf['FirstIP'], RegTraindf['UserIp']

Time taken is : 1.0134119987487793

In [30]:
# Remove unnecessary varaibles
del RegTraindf['Country'],RegTraindf['Carrier'],RegTraindf['Device'],RegTraindf['Browser'],RegTraindf['advertiserCampaignId'], RegTraindf['subPublisherId'],RegTraindf['ConversionDate']

In [31]:
RegTraindf.shape

(34524, 19)

In [32]:
RegTraindf.head()

,ID,TrafficType,RefererUrl,ConversionStatus,ConversionPayOut,Fraud,DayPeriod,NEWCNTRY,FRDCLS,NEWCARR,CARRFRD,NEWDEV,DEVFRD,NEWBRWSR,BRWSRFRD,NEWADCM,ADFRD,AndroidOS,IPClass
0,1378,A,0,1,4.550000,0,SunAM1,BD,CL8,CR1,VH,Generic,VH,OTHBRW,L,ADCM4,H,yes,ClassA
1,1720,A,0,1,2.652650,0,SunAM1,BD,CL8,CR8,H,Samsung,VH,CHROME,H,ADCM20,H,yes,ClassA
2,3698,A,0,1,25.493000,0,SunAM1,RU,CL7,CR17,H,Alcatel,VH,CHROME,H,ADCM13,H,yes,ClassA
3,4050,A,1,1,1.123456,0,SunAM1,BD,CL8,CR8,H,Generic,VH,ANDWEB,H,ADCM2,H,yes,ClassA
4,8667,A,0,1,65.000000,0,SunAM1,IN,CL7,CR2,M,Intex,M,CHROME,H,ADCM39,L,yes,ClassC

In [33]:
RegTraindf.columns = ['ID','TrafficType','RefererUrl','y','ConversionPayOut','Fraud','DayPeriod','Country',
                      'CountryFrd','Carrier','CarrierFrd','Device','DeviceFrd','Browser','BrowserFrd',
                      'AdvCampaign','AdvCampaignFrd','AndroidOS','IPClass']

In [34]:
# Checking for the missing value details before exporting
Total = RegTraindf.isnull().sum().sort_values(ascending=False)[:30]
percent = ((RegTraindf.isnull().sum()/RegTraindf.isnull().count())*100).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :percent, 'Missing Total':Total})
missing_data.head(3)

             Missing Ratio  Missing Total
IPClass                0.0              0
CountryFrd             0.0              0
TrafficType            0.0              0

In [35]:
Reg_y = pd.DataFrame(RegTraindf['ConversionPayOut'])
del RegTraindf['ConversionPayOut']

In [36]:
Reg_y.head()

   ConversionPayOut
0          4.550000
1          2.652650
2         25.493000
3          1.123456
4         65.000000

In [37]:
print ('Before One hit encoding', RegTraindf.shape, Reg_y.shape)

Before One hit encoding (34524, 18) (34524, 1)

In [38]:
RegTraindf = pd.get_dummies(RegTraindf, columns=['TrafficType','DayPeriod','Country','CountryFrd','Carrier','CarrierFrd',
                                           'Device', 'DeviceFrd', 'Browser', 'BrowserFrd', 'AdvCampaign',
                                           'AdvCampaignFrd', 'AndroidOS', 'IPClass'], drop_first=True)
print ('After One hot encoding',RegTraindf.shape, Reg_y.shape)

After One hot encoding (34524, 197) (34524, 1)

In [39]:
t0 = time.time()
RegTraindf.to_csv('RegTraindf.csv', index=False)
Reg_y.to_csv('Reg_y.csv', index=False)
t1 = time.time()
print ('Time taken is :',t1 - t0)

Time taken is : 4.104580879211426